* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f5e6d3 0%, #e6d5c3 );
}

header {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 8vh;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.barra {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.uno{
    text-decoration: underline;
}

.nose{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FF9ECD;
}

.fas{
    font-size: 1.5rem;
}

.fab{
    font-size: 1.5rem;
}

.section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.imagen, .formulario {
    flex: 1;
    padding: 20px;
}

.formulario h2 {
    color: #7a573c;
    text-align: center;
}

img {
    width: 600px;
    border-radius: 400px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #7a573c;
}

.formulario form input, .formulario form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d4b89d;
    border-radius: 5px;
}

.formulario form button {
    padding: 10px;
    background-color: #d4b89d;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.formulario form button:hover {
    background-color: #b28f73;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    color: #4A4A4A;
    margin-top: 20px;
}

footer .social-links a {
    color: #4A4A4A;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: rgb(230, 112, 200);
}
