* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: wheat;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff7eb;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #f77f00;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #d96500;
}

.centro{
    margin-right: 20px;
}